* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  color: grey;
}